<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Usuario</h1>
    <form action="/usuarios/actualizar/{{ usuario.id }}" method="POST">
        <p>Nombre: <input type="text" name="nombre" value="{{ usuario.nombre }}" required></p>
        <p>Apellido: <input type="text" name="apellido" value="{{ usuario.apellido }}" required></p>
        <p>Email: <input type="email" name="email" value="{{ usuario.email }}" required></p>
        <p><input type="submit" value="Actualizar"></p>
    </form>
    <a href="/usuarios">Volver a la lista</a>
</body>
</html>